[Unit]
Description=Huey Task Queue for albunmania_project
After=network.target redis.service

[Service]
Type=simple
User=[user]
Group=[group]
WorkingDirectory=/path/to/project/backend
ExecStart=/path/to/venv/bin/python manage.py run_huey
Restart=always
RestartSec=5
Environment="DJANGO_ENV=production"
Environment="DJANGO_SETTINGS_MODULE=albunmania_project.settings_prod"

[Install]
WantedBy=multi-user.target
